<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/sticknote.css">
    <link href='http://fonts.googleapis.com/css?family=Oswald:300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light+Two' rel='stylesheet' type='text/css'>
    <%- include('parts/bootstrapcss.ejs') -%>
        <title>
            <%= title %>
        </title>
</head>

<body onload="getResultPonto('<%= matricula %>')">
    <%- include('parts/navbar.ejs') -%>

        <div class="container" style="margin-top: 10dvh;">
            <div class="row">
                <div class="col-6">
                    <div class="d-flex justify-content-center">
                        <div>
                            <div class="d-flex justify-content-center">
                                <button onclick="RegistroEntrada('<%= name %>', '<%= matricula %>')" type="button"
                                    data-bs-toggle="modal" data-bs-target="#modal_registro_entrada"
                                    class="btn btn-primary btn-lg mb-3">Entrada</button>
                            </div>
                            <div class="card p-3">
                                <h5 class="card-title">Entrada</h5>
                                <p id="nota_data_entrada"></p>
                                <p id="nota_hora_entrada"></p>
                                <p id="nota_matricula_entrada"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="d-flex justify-content-center">
                        <div>
                            <div class="d-flex justify-content-center">
                                <button onclick="RegistroSaida('<%= name %>', '<%= matricula %>')" type="button"
                                    data-bs-toggle="modal" data-bs-target="#modal_registro_saida"
                                    class="btn btn-success btn-lg mb-3">Saida</button>
                            </div>
                            <div class="card p-3">
                                <h5 class="card-title">Saida</h5>
                                <p id="nota_data_saida"></p>
                                <p id="nota_hora_saida"></p>
                                <p id="nota_matricula_saida"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Modal Entrada -->
        <div class="modal fade" id="modal_registro_entrada" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Solicitar Ajuste Ponto</h5>
                    </div>
                    <div class="modal-body">
                        <div class="d-flex justify-content-center">
                            <h5>Confirme seus dados</h5>
                        </div>
                        <p id="nome_entrada"></p>
                        <p id="matricula_entrada"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                        <button onclick="registrar('<%= name %>', '<%= matricula %>' , 'entrada')" type="submit"
                            class="btn btn-primary">Registrar</button>
                    </div>
                </div>
            </div>
        </div>

        <div style="padding-left: 25px; padding-right: 25px;">
            <div id="table_result"  class="container"  style="margin-top: 15dvh;">
                <table class="table">
                    <thead class="table table-dark">
                        <tr>
                            <th>Matricula</th>
                            <th>Hora</th>
                            <th>Tipo</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody id="tb_result_body">
                    </tbody>
                </table>
            </div>
           </div>


        <!-- Modal Saida -->
        <div class="modal fade" id="modal_registro_saida" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Registro Saida</h5>
                    </div>
                    <div class="modal-body">
                        <div class="d-flex justify-content-center">
                            <h5>Confirme seus dados</h5>
                        </div>
                        <p id="nome_saida"></p>
                        <p id="matricula_saida"></p>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                        <button onclick="registrar('<%= name %>', '<%= matricula %>' , 'saida')" type="submit"
                            class="btn btn-primary">Registrar</button>
                    </div>
                </div>
            </div>
        </div>


        <!-- Modal Ajuste-->
        <div class="modal fade" id="modal_ajuste_ponto" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="title_ajuste"></h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

                        <form id="form_ajuste_ponto">
                            <div class="row">
                               <p id="action_ajuste" class="display-4 d-flex justify-content-center">
                                    SAIDA
                               </p>
                                <div class="col-6 d-flex justify-content-center">
                                    <p id="ajuste_matricula"></p>
                                </div>
                                <div class="col-6 d-flex justify-content-center">
                                    <p id="ajuste_action"></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6 d-flex justify-content-center">
                                    <label for="ajuste_origin_date" style="font-size: 15pt; font: bold;">Horario
                                        Registrado</label>
                                </div>
                                <div class="col-6 d-flex justify-content-center">
                                    <label for="ajuste_new_date" style="font-size: 15pt; font: bold;">Horario
                                        Correto</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6 d-flex justify-content-center">
                                    <input id="input_origin_date" class="mt-4" id="ajuste_origin_date"
                                        type="datetime-local" value="" disabled="true" name="ajuste_origin_date">
                                </div>
                                <div class="col-6 d-flex justify-content-center">
                                    <input id="input_new_date" class="mt-4" id="ajuste_new_date" type="datetime-local"
                                        value="" name="ajuste_new_date">
                                </div>
                            </div>
                            <div class="d-flex mt-3">
                                <textarea class="form-control" name="ajuste_remark" cols="30" rows="3"
                                    placeholder="Justificativa" maxlength="255"></textarea>
                            </div>

                            <!-- HIDDEN INPUTS -->
                            <input type="text" class="d-none" id="hiddem_ajuste_old_date" name="hidden_ajuste_old_date" value="">
                            <input type="text" class="d-none" id="hidden_ajuste_id" name="hidden_ajuste_id" value="">
                            <input type="text" class="d-none" id="hidden_ajuste_nome" name="hidden_ajuste_nome" value="">
                            <input type="text" class="d-none" id="hidden_ajuste_matricula" name="hidden_ajuste_matricula" value="">
                            <input type="text" class="d-none" id="hidden_ajuste_action" name="hidden_ajuste_action" value="">


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                        <button type="submit" class="btn btn-primary">Enviar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        
        <!-- open modal -->
        <button id="open_modal_ajuste" type="button" class="d-none" data-bs-toggle="modal"
            data-bs-target="#modal_ajuste_ponto"></button>


        <%- include('parts/bootstrapjss.ejs') -%>
            <script src="../public/javascript/index.js"></script>
            <script src="../public/javascript/ajustePonto.js"></script>
            <%- include('parts/report.ejs') -%>
            <%- include('parts/alterarSenha.ejs') -%>
            <%- include('parts/infoConta.ejs') -%>

</body>

</html>